body {
  text-align: center;
  font-family: 'andale mono', sans-serif;
  background-color: tan;
  background-image: url(./images/corkboard-texture.jpg);
  background-size: cover;
}

header {
  color: chocolate;
  text-align: center;
  background-color: wheat;
  padding: auto;
  padding: 5px;
  margin: 5px;
}

.task {
  background-color: lightgreen;
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: 'andale mono', sans-serif;
}

.task_done {
  background-color: turquoise;
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  text-align: center;
  font-family: 'andale mono', sans-serif;
  margin: 10px;
}


.complete {
  margin-top: 125px;
}

.delete {
  margin-top: 125x;
}
